<!-- Author: Gail Chen
Created: 7/22
Edit: 7/24 Gail changed hide/show to Ajax
Description: Show all contracts that the current user has. -->

<h1>My Contracts</h1>
<p>You have <strong><%= @contracts.length %></strong> contract<%= "s" if @contracts.length>1 %>.</p>

<div id="contract-btn-container" role="group" class="btn-group btn-group-justified">
    <a id="u-contract" role="button" class="btn btn-default active" style="padding:10px;">Unsigned Contracts</a>
    <a id="w-contract" role="button" class="btn btn-default" style="padding:10px;">Waiting Contracts</a>
    <a id="c-contract" role="button" class="btn btn-default" style="padding:10px;">Confirmed Contracts</a>
    <a id="d-contract" role="button" class="btn btn-default" style="padding:10px;">Declined Contracts</a>
</div>
<br/>

<div id="filter-contract-list">
  <!-- Show unsigned contracts initially. Ajax will fill this with correct contract list. -->
  <%=render partial: "ajax_pages/contract", locals: {status: "unsigned", list_name: "u-con-list"}%>
</div>

<script>
$("document").ready(function(){
  // Create the basic call object
  var call_obj = {
    url: "",
    dataType: "html",
    method: "GET",
  }
  // Fill in the url based on button click
  // Unsigned contract
  $("#u-contract").click(function(){
    $("#u-contract").addClass( "active" )
    $("#contract-btn-container a").not("#u-contract").removeClass( "active" )
    call_obj.url = "ajax/u_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  // Waiting contract
  $("#w-contract").click(function(){
    $("#w-contract").addClass( "active" )
    $("#contract-btn-container a").not("#w-contract").removeClass( "active" )
    call_obj.url = "ajax/w_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  // Confirmed contract
  $("#c-contract").click(function(){
    $("#c-contract").addClass( "active" )
    $("#contract-btn-container a").not("#c-contract").removeClass( "active" )
    call_obj.url = "ajax/c_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  // Declined contract
  $("#d-contract").click(function(){
    $("#d-contract").addClass( "active" )
    $("#contract-btn-container a").not("#d-contract").removeClass( "active" )
    call_obj.url = "ajax/d_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });

})
</script>
