<!-- Author: Gail Chen
Created: 7/22
Edit: 7/24 Gail changed hide/show to Ajax
Description: Show all contracts that the current user has. -->

<%= stylesheet_link_tag "contracts" %>

<h1>My Contracts</h1>

<div id="contract-btn-container" class="btn-group btn-group-toggle" data-toggle="buttons">
  <button id="u-contract" class="btn btn-outline-secondary active" style="padding:10px">Unsigned Contracts</button>
  <button id="w-contract" class="btn btn-outline-secondary" style="padding:10px">Waiting Contracts</button>
  <button id="c-contract" class="btn btn-outline-secondary"style="padding:10px">Confirmed Contracts</button>
  <button id="d-contract" class="btn btn-outline-secondary" style="padding:10px">Declined Contracts</button>
</div>
<br/>
<br/>

<div id="filter-contract-list">
  <!-- Ajax will fill thsi with correct contract list. -->
</div>

<script>
$("document").ready(function(){
  // Create the basic call object
  var call_obj = {
    url: "",
    dataType: "html",
    method: "GET",
  }
  // Fill in the url based on button click
  // Unsigned contract
  $("#u-contract").click(function(){
    call_obj.url = "ajax/u_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  // Waiting contract
  $("#w-contract").click(function(){
    call_obj.url = "ajax/w_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  // Confirmed contract
  $("#c-contract").click(function(){
    call_obj.url = "ajax/c_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  // Declined contract
  $("#d-contract").click(function(){
    call_obj.url = "ajax/d_contract"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#filter-contract-list").html(data);
    });
  });
  $("#u-contract").click()

});
</script>
