<% provide(title: "My Requests") %>
<h1>My Requests</h1>
<p>You have posted <%= @requests.length %> requests in total.</p>
<p>You can see all of your requests below.
</p>

<br>
<div id="req-btn-container" style="text-align:center">
  <button id="ra-btn" style="padding:30px">See Active Requests</button>
  <button id="rp-btn" style="padding:30px">See Pending Requests</button>
  <button id="rc-btn" style="padding:30px">See Closed Requests</button>
  <button id="rd-btn" style="padding:30px">See Draft Requests</button>
</div>
<br>

<script>
$("document").ready(function(){
  // Create the basic call object
  var call_obj = {
    url: "",
    dataType: "html",
    method: "GET",
  }
  // Fill in the url based on button click
  $("#ra-btn").click(function(){
    call_obj.url = "ajax/a_request"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#main-content-req").html(data);
    });
  });
  $("#rp-btn").click(function(){
    call_obj.url = "ajax/p_request"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#main-content-req").html(data);
    });
  });
  $("#rc-btn").click(function(){
    call_obj.url = "ajax/c_request"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#main-content-req").html(data);
    });
  });
  $("#rd-btn").click(function(){
    call_obj.url = "ajax/d_request"
    // Get data from server and fill in current page
    $.ajax(call_obj).done(function(data){
      $("#main-content-req").html(data);
    });
  });

});
</script>



<div id="main-content-req">
<!-- AJAX will fill this with the correct table -->
</div>
