<% provide(:title, "Create New Message") %>

<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>


<%= form_for @message, url: messages_url(post_id: params[:post_id]) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content, size: "60x12" %>
  <%= f.submit "Send" %>
<% end %>
