<h1>Editing Contract</h1>

<%= render 'newContract', contract: @contract, createdby: @createdby, editFrom: @editFrom %>

<br/>
<% if @editFrom == "index"%>
  <%= link_to 'Back', contracts_path %>
<% elsif @editFrom == "profile"%>
  <%= link_to 'Back', profile_mycontract_path%>
<% elsif @editFrom == "show"%>
  <%= link_to 'Back', contract_path(@contract)%>
<%end%>
