<!-- Author: Gail Chen
Created: 7/18
Edit: N/A
Description: A form to edit the contract -->

<h1>Editing Contract</h1>

<%= render 'newContract', contract: @contract, createdby: @createdby, editFrom: @editFrom %>

<br/>
<% if @editFrom == "index"%>
  <%= link_to 'Back', contracts_url, class: "btn magic-button" %>
<% elsif @editFrom == "profile"%>
  <%= link_to 'Back', profile_mycontract_url, class: "btn magic-button"%>
<% elsif @editFrom == "show"%>
  <%= link_to 'Back', contract_url(@contract), class: "btn magic-button"%>
<%end%>
