<!-- Author: Gail Chen
Created: 7/18
Edit: N/A
Description: A form to create a new contract -->

<h1>New Contract</h1>
<%= render 'newContract', contract: @contract, createdby: @createdby, editFrom: nil %>
<br/>
<%= link_to 'Back', url_for(:back), class: "btn magic-button" %>
