<!-- These footer links are static. -->
<div class="footer">
  <div class=""><%= link_to "Home", root_path %>
    <%= link_to "About OSU Book Exchange", about_path %>
    <%= link_to "About MAGiC", about_magic_path %>
    <%= link_to "Contact Us", contact_us_path %></div>
</div>
