<div class="<%= location %>">
  <div class=""><%= link_to "Home", root_path %></div>
  <div class=""><%= link_to "Posts", posts_path %></div>
  <div class=""><%= link_to "Contact", contact_path %></div>
</div>
