<!-- Author: Gail Chen
Created: 7/18
Edit: N/A
Description: A form to edit the order -->

<h1>Editing Order</h1>

<%= render 'newOrder', order: @order, edit: true %>

<!-- <%= link_to 'Show', @order %> | -->
<br/>
<%= link_to 'Back', url_for(:back), class: "btn magic-button" %>
