<h1>MAG¡C Intro</h1>
<p>OSU MAG¡C team was formed in 2018 for the purpose of course CSE3901. The group name was formed by the first letter of team members. A inverted exclamation mark (¡) in the middle represent every team member is trying his/her best to complete the projects and improve him/herself.</p>
<p>Team Members:</p>
<ul>
<li>Mike </li>
<li>Ariel</li>
<li>Gail</li>
<li>Channing</li>
</ul>

