<h1>Contact Us</h1>
<p>You can email us at <%= mail_to "osu.magic.team@gmail.com" %></p>

<% unless current_user.is_a? GuestUser %>
<p>As a valuable customer, you can also contact us through <%= link_to "Online Chat", profile_messages_path(talk_to: 13, post_id: 1) %>.</p>
<% end %>
