<h1>Contact Us</h1>
<p>You can email us at <%= mail_to "osu.magic.team@gmail.com" %></p>

<p>If you have loged in, you can also contact us in the chat box below.</p>
<%= render partial: "contact_us_form" %>
