<!-- Author: Mike
Created At: 7/21
Description: Rendered HTML for guest user using contact_us messages  -->

<h1>Sorry. Please login and contact us through chat system.</h1>

<p>If you don't have an account, you can either <%= link_to :signup, new_user_registration_path %> one (It's Free!) or use the following email to contact us: </p>
<%= mail_to "osu.magic.team@gmail.com" %>
