<h1>Sorry. Please login and contact us through chat system.</h1>
<p>If you don't have an account, you can either signup one (It's Free!) or use the following email to contact up: p>
<%= mail_to "osu.magic.team@gmail.com" %></
<!-- <p>Redirecting to home page after 10 seconds.</p>
<script>
	setTimeout(function(){

	},500)
</script> -->