<!-- Author: Mike
Created At: 7/21
Edit: N/A
Description: Rendered HTML for home page  -->

<%= stylesheet_link_tag "home" %>

<div class="message-search-container">
<h1>OSU Book Exchange</h1>
<h4>Clean | Secure | Powerful | <%= link_to "How?", about_path  %></h4>
<%= render "shared/search_home" %>

</div>