html{
    height: 100%;
}

body{
    background: url(home-background1.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position-y: 60%;
}

// .footer{
//   display: none;
// }

.message-search-container{
    background-color: rgba(255,255,255,0.9);
    margin: 13% auto 0 auto;
    padding: 30px 30px 80px 30px;
    max-width: 690px;
    text-align: center;
    border-radius: 10px;
}

.message-search-container h1{
    font-size: 50px;
}

.message-search-container h4{
    padding-top: 10px;
}


.message-search-container h4 a:hover{
    color: rgba(233, 72, 20, 1.000);
}

.search-container{
    padding-top: 10px;
}

.search-container a{
    color: white;
}

.footer{
    display: none;
}
