/*Author: Mike*/
/*Created At: 7/22
Edit: N/A*/


#user-chat-submit{
    display: inline-block;
    width: 20%;
    height: 30px;
    text-align: center;
    background-color: rgba(0, 132, 255, 1.000);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
